@page "/authors/overview"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<p>
    <button class="btn btn-primary" @onclick="NavigateToAuthorNew"><i class="bi bi-plus-circle"></i> Neuer Autor</button>
</p>

<ErrorBoundary Context="ex">
    <ChildContent>
        @if (AuthorsVm is null || !AuthorsVm.Any())
        {
            <div>Daten werden geladen...</div>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Geburtsdatum</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in AuthorsVm)
                {
                    <!-- 1. Version Klassik -->
                    @*  <tr>
                    <td>
                        <AuthorImage ImageMimeType="@item.PhotoMimeType"
                                     Image="@item.Photo"
                                     alt="@item.Name" width="120">
                        </AuthorImage>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@(item.BirthDate is not null ? item.BirthDate.Value.ToShortDateString() : "k.A.")</td>
                    <td>
                        <!-- Buttons Aktionen-->
                    </td>
                </tr> *@

                    <!-- 2. Version Componente -->
                    <AuthorItem AuthorVm="@item"
                                @rendermode="InteractiveWebAssembly"
                                OnAuthorDeleteEventCallback="@DeleteAuthor">
                    </AuthorItem>
                }
                </tbody>
            </table>
        }
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger">@ex.Message</div>
    </ErrorContent>
</ErrorBoundary>
