@using GfuQotd.Shared.Model

@if (QotdVm is null)
{
    <div>Spruch Des Tages wird geladen...</div>
}
else
{
    <div class="container">
        <div class="text-center">
            <div class="p-2 rounded-3">
                <h5 class="display-6 py-3 @Color">@Title</h5>
                <p class="text-center">
                    <!-- 1. Variante -->
                   @*  @if (!string.IsNullOrEmpty(QotdVm.AuthorPhotoMimeType) && QotdVm.AuthorPhoto is not null)
                    {
                        <img width="150" src="data:@QotdVm.AuthorPhotoMimeType;base64,@Convert.ToBase64String(QotdVm.AuthorPhoto)"/>
                    }
                    else
                    {
                        <img width="150" src="https://via.placeholder.com/150" />
                    } *@
                    
                    <!-- 2. Variante als Komponente -->
                    <ImageDataUri ImageMimeType="@QotdVm.AuthorPhotoMimeType"
                                  Image="@QotdVm.AuthorPhoto"
                                  alt="@QotdVm.AuthorName"
                                  width="150">
                    </ImageDataUri>
                </p>
                <blockquote class="text-center">
                    <p class="lead fw-bold">@QotdVm.QuoteText</p>
                    <cite>
                        <span>@QotdVm.AuthorName - @QotdVm.AuthorDescription</span>
                        <br />
                        <span>
                            @(QotdVm.AuthorBirthdate is not null ? QotdVm.AuthorBirthdate.Value.ToShortDateString() : "")
                        </span>
                    </cite>
                </blockquote>
            </div>
        </div>
    </div>
}


@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [CascadingParameter(Name = "HeadingColor")]
    public string? Color { get; set; }

    [Parameter] 
    public QuoteOfTheDayViewModel? QotdVm { get; set; }
}
